@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Тестовое приложение</h2>
        <p>
            Капчи на форме добавления нет, поэтому всем ботам Добро пожаловать!
            <br>
            В верхнем меню есть ссылка "Железнодорожный транспорт", по ней там дальше всё должно быть понятно.
            <br><br>
            Клиентская asp.net mvc валидация отключается стандартно - в web.config для "ClientValidationEnabled" ставим false
        </p>
        <p><a target="_blank" class="btn btn-default" href="https://github.com/Alcorn888/asp.net-mvc-5-project">Исходники кода на гитхабе &raquo;</a></p>
    </div>
</div>